---
Checks: '*,
        -modernize-use-trailing-return-type,
        -clang-diagnostic-unknown-warning-option,
        -llvm-header-guard,
        -llvm-namespace-comment,
        -fuchsia-default-arguments-declarations,
        -*-vararg,
        -*-braces-around-statements'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     none

