---
Checks: '*,
        -modernize-use-trailing-return-type,
        -clang-diagnostic-unknown-warning-option,
        -fuchsia-default-arguments-declarations,
        -google-readability-namespace-comments,
        -llvm-header-guard,
        -llvm-namespace-comment,
        -modernize-use-nodiscard,
        -*-member-init,
        -*-braces-around-statements,
        -*-vararg'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none

