name: CI
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run cmake
      run: |
        mkdir build
        cd build
        cmake ..
    - name: Run make
      run: |
        cd build
        make
  clang-tidy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run clang-tidy
      run: ./scripts/clang-tidy.sh .
